{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-6">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="form-group">
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.username) }}
                {{ form_label(form.username) }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.plainPassword.second) }}
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.Firstname) }}
                {{ form_label(form.Firstname) }}
                {{ form_widget(form.Firstname, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.Lastname) }}
                {{ form_label(form.Lastname) }}
                {{ form_widget(form.Lastname, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-default" />
            </div>
        {{ form_end(form) }}
    </div>
</div>