{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
    <h1>Events</h1>

    <a class="btn btn-default" href="{{ path('homepage') }}">HomePage</a><br><br>
    <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">Logout</a><br><br>

    <table class="table table-striped table-condensed">
        <tr>
            <th>Nom de l'événement</th>
            <th>Date de début</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.event.name }}</td>
                <td> {{ event.event.startdate|date('d-m-Y H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default" href="{{ path('gift_default_addevent') }}">Ajouter un événement</a>
</div>

{% endblock %}