{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
    <h1>{{ event.name }}</h1>

    <div class="login">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <span class="label label-default">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span><br>
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary btn-raised">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
            <a class="btn btn-primary btn-raised" href="{{ path('homepage') }}">HomePage</a>
            <a class="btn btn-primary btn-raised" href="{{ path('gift_default_events') }}">List Events</a>
        {% else %}
            <a class="btn btn-primary btn-raised" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

    <h2>Participants à l'événement</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Nom</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.user.firstname }}  {{ user.user.lastname }}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default btn-raised" href="{{ path('gift_default_addparticipant', {'id':eventId}) }}">Ajouter un participant</a>
    {% if isOwner %}
        <a class="btn btn-default btn-raised" href="{{ path('gift_default_addevent') }}">Répartir les personnes</a>
    {% endif %}
    </div>

{% endblock %}